---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PostCardV2 from "@/components/PostCardV2.astro";

const posts = (await getCollection("posts")).sort(function (first, second) {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});
---

<Layout title="All Posts — munawarjs.com">
  <main class="flex flex-col gap-16 md:gap-20">
    <h1 class=" text-4xl font-semibold text-white">All posts ({posts.length})</h1>

    <article class="flex flex-col gap-12">
      {
        posts.map((post) => (
          <PostCardV2
            publishedAt={post.data.publishedAt}
            title={post.data.title}
            description={post.data.description}
            slug={post.slug}
          />
        ))
      }
    </article>
  </main>
</Layout>
