---
import { getCollection } from "astro:content";
import Layout from "@/layouts/Layout.astro";
import PostCardV2 from "@/components/PostCardV2.astro";
import convertAsteriskToStrongTag from "@/utils/convertAsteriskToStrongTag";

import presentation from "@/data/presentation";

const posts = await getCollection("posts");

const publishedPosts = posts.filter(post => post.data.isPublish);

const sortedPublishedPosts = publishedPosts.sort((first, second) => {
  return second.data.publishedAt.getTime() - first.data.publishedAt.getTime();
});

---

<Layout>
  <main class="flex flex-col gap-16 md:gap-20">
    <article
      class="flex flex-col gap-8 md:flex-row-reverse md:justify-end md:gap-12"
    >
      {
        presentation.profile && (
          <img
            src={presentation.profile}
            class="w-1/4 self-center rounded-full"
          />
        )
      }

      <div class="flex flex-col gap-8">
        <div>

          <span class="text-base leading-8 text-slate-400">{presentation.salutation}</span>
          <h1 
            class="text-3xl md:text-5xl text-neutral-100 font-semibold"
            set:html={presentation.title}
          />
        </div>

        <h2
          class="leading-7 md:leading-8 text-lg md:text-xl text-slate-400"
          set:html={convertAsteriskToStrongTag(presentation.description)}
        />
      </div>
    </article>

    <section class="flex flex-col gap-8 md:gap-16">
      <header class="flex w-full flex-row justify-between gap-2 items-baseline">
        <h3 class="text-xl md:text-3xl font-medium text-slate-100">Latest posts</h3>
      </header>
      {sortedPublishedPosts.length === 0 && <p>Soon, stay connected 👀...</p>}

      <section class="flex flex-col gap-12 md:flex-row md:flex-wrap">
        {
          sortedPublishedPosts.length !== 0 &&
          sortedPublishedPosts
              .slice(0, 5)
              .map((post) => (
                <PostCardV2
                  publishedAt={post.data.publishedAt}
                  title={post.data.title}
                  description={post.data.description}
                  slug={post.slug}
                  tags={post.data.tags}
                />
              ))
        }
      </section>
      <a href="/posts" class="mt-4 md:mt-0 p-4 bg-slate-950/50 hover:bg-slate-950 border-solid border border-slate-700 rounded-lg text-center">See all {sortedPublishedPosts.length} posts &rarr;</a>
    </section>
  </main>
</Layout>
